[user]
    name = John Gathure
    email = juangathure@gmail.com
    username = johngathure
[alias]
    # status
    sts = status
    stsb = status -s -b

    # checkout
    o = checkout
    om = checkout master
    ob = checkout -b

    # branch
    br = branch
    bra = branch -a
    brd = branch -d
    brdd = branch -D

    # commit
    c = commit
    ca = commit --amend
    ce = commit --amend --no-edit

    # cherrypick
    cp = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue

    # diff
    d = diff
    dc = diff --cached
    dt = difftool
    dct = difftool --cached

    # remote
    ru = remote update

    # merge
    m = merge
    ma = merge --abort
    mc = merge --continue
    ms = merge --skip

    # push
    ps = push
    pfs = push -f

    # pull
    pl = pull
    plb = pull --rebase

    # rebase
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    rbs = rebase --skip

    # reset
    rse = reset
    rsh = reset HEAD
    rseh = reset --hard
    rses = reset --soft

    # stash
    st = stash
    sta = stash apply
    stc = stash clear
    std = stash drop
    stl = stash list
    stp = stash pop
    stw = stash show
    stk = stash -k  # stash only unstaged files. Keep staged files.
    stku = stash -k -u  # stash newly created untracked files also.

    # log
    lg = log
    lgp = log -p
    lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[push]
    default = current

[diff]
    tool = nvim
[difftool]
    prompt = false

[merge]
    tool = nvim
[mergetool]
    prompt = false
[mergetool "nvim"]
    cmd = nvim -f -c \"Gdiff\" \"$MERGED\"

[core]
	editor = nvim

[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[color "diff"]
    meta = yellow bold
    old = red
    new = green
    whitespace = red reverse
